<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Serious Exercise 2</title>
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js">
    </script>
    <script type="text/javascript" src="static/js/popper.js">
    </script>
    <script type="text/javascript" src="static/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>

    <img src="/static/pics/logo.svg" class="img-fluid" alt="New Yorker's Logo">

    <nav>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cultures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Business & Tech</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <p class="Article-title1 font-weight-bold">What Mary Oliver's Critics Don't Understand</p>
      <p class="Article-title2 font-italic">For America's most beloved poet, paying attention to nature is a springboard to the sacred.</p>
      <p>By Ruth Franklin</p>
    </div>

    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <section class="col-md-8">
            <div class="row">
              <div class="col-md-8">
                "Mary Oliver is saving my life," Paul Chowder, the title character of Nicholson Baker's novel "The Anthologist," scrawls in the margin of Oliver's "New and Selected Poems, Volume One." A struggling poet, Chowder is suffering from a severe case of writer's block. His girlfriend, with whom he's lived for eight years, has just left him, ostensibly because he has been unable to a poettry anthology that he has been putting together. For solace and inspiration, he turns to poets whohave been his touchstones - Louise Bogan, Theodore Roethke,Sara Teasdale - before discovering Oliver. In her work, he finds consolation:"I immediately felt more sure of whatI was doing." Of her poems, he says, "They're very simple. And yet each has something."
              </div>
              <div class="col-md-4">
                <img src="/static/pics/img.jpg" alt="">
                <p class="font-italic">Oliver uses nature as a springboard to the sacred-the beating heart of her work.</p>
              </div>
            </div>
          <div class="container">
            <p>I don't know exactly what a prayer is. <br>
              I do know how to pay attention, how to fall down <br>
              into the grass, how to knell down in the grass,<br>
              how to be idle and blessed, how to stroll through the fields,<br>
              which is what I have been doing all day.
            </p>
          </div>
          <p>The cadences are almost Biblical. "ATtention is the beginning of devotion," she urges else where.</p>
          <p class="font-italic">This article appears in the print edition of the November 27, 2017, issue, with the headline "The art of Paying Attention"</p>
          </section>
          <aside class="col-sm-4">
            <p class="header text-center" >
              Most Popular
            </p>
            <ol>
              <li>
                <strong>The Danger of President Pence</strong><br>
                By Jane Mayer
              </li>
              <li>
                <strong>No End in Sight to the Brexit Madness</strong><br>
                By John Cassidy
              </li>
              <li>
                <strong>Mueller Rents Giant Warehouse to store evidence Against Trump</strong><br>
                By Andy Borowitz
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <section class="col-md-6 left">
            <h4>Daily Cartoon: Friday, November 4th</h4><br>
            <strong>Forgetting the garnish.</strong><br>
            By Liana Finck No.24, 2017
          </section>
          <aside class="col-md-6 right">
            <h4>At Berkeley, a New Generation of Ethical Hackers Learns the Do's and Don'ts of Cybersecurity</h4><br>
            <strong>How long would it take a junior computer-science major to disrupt an election?</strong><br>
            By Anna Wiener Nov. 24, 2017
          </aside>
        </div>
      </div>
    </div>

    <footer class="nav justify-content-center">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Listen to the New Yorker Radio Hour</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Buy the Cover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Play the Jigsaw Puzzle</a>
        </li>
      </ul>
    </footer>

  </body>
</html>
