<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nav Example</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h2>C4E_13</h2>
    <ul class="nav">
      <li>
        <a href="http://bit.ly/2As0Dd1" target="_blank">Danh sách lớp</a>
      </li>
      <li>
        <a href="http://bit.ly/2hRSC9H" target="_blank">Danh sách điểm danh</a>
      </li>
      <li>
        <a href="http://bit.ly/2sw18kX" target="_blank">Policy</a>
      </li>
      <li>
        <a href="http://bit.ly/2yg2XSY" target="_blank">Syllabus Khóa học</a>
      </li>
      <li>
        <a href="https://www.youtube.com/playlist?list=PLFMKeQO-z8sMKGUKZTu3zOCS_YNKPoKA8" target="_blank">Playlist</a>
      </li>
      <li>
        <a href="https://goo.gl/C26VoD" target="_blank">Chấm điểm BTVN</a>
      </li>
    </ul>
  </body>
</html>
